<div class="row">
  <div class="col-md-12 m-b-30">
    <!-- begin page title -->
    <div class="d-block d-sm-flex flex-nowrap align-items-center">
      <div class="page-title mb-2 mb-sm-0">
        <h1>Stock Tracker and Currency Converter Dashboard</h1>
      </div>
    </div>
    <!-- end page title -->
  </div>
</div>
<!-- end row -->
<!-- start Crypto Currency contant -->
<div class="row crypto-currency">
  <div class="col-12">
    <div class="card card-statistics p-0 owl-wrapper">
      <div class="row align-items-center no-gutters">
        <div class="col-xs-12 text-center text-xxl-left bg-primary px-3 py-3" style="text-align: center;">
          <span class="text-white">Stock Tracker and Currency Converter Dashboard</span>
          <span class="badge badge-light-inverse ml-xxl-4">USD Pair</span>
        </div>
        <div class="col-xs-1 py-3 py-xs-0">
        </div>
      </div>
    </div>
  </div>
</div>


<app-stock #stockComponent></app-stock>

<app-convertor #convertorComponent></app-convertor>


<div class="row sweet-wrapper">
  <div class="col-md-6 mb-30">
    <div class="card card-statistics mb-30">
      <div class="card-body">
        <h5 class="card-title">Auto Close Timer</h5>
        <button id="sweetalert-12" class="btn btn-primary" aria-label="Try me! Example: A message with auto close timer">Try me!</button>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-30">
    <div class="card card-statistics">
      <div class="card-body">
        <h5 class="card-title"> Public IP Request </h5>
        <button id="sweetalert-16" class="btn btn-primary" aria-label="Try me! Example: Dynamic queue">Fetch IP</button>
      </div>
    </div>
  </div>
</div>
